
Practica3/.idea/workspace.xml
Practica3/.idea/workspace.xml
Practica3/.idea/workspace.xml
Practica3/.idea/workspace.xml
Practica3/.gradle/4.4/fileHashes/fileHashes.lock
Practica3/.gradle/4.4/fileHashes/fileHashes.bin
*.xml
